In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df = pd.read_csv('energydata_complete.csv')

In [5]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [12]:
df.head()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df))
simple_linear_reg_df = df[['T1','T6']].sample(15, random_state=2)

In [17]:
simple_linear_reg_df

              T1         T6
1117   18.600000  -4.238889
16275  23.315000  14.690000
13272  22.926667   8.926667
3160   21.790000   7.690000
19210  24.260000  10.800000
8260   20.323333   5.000000
12299  22.200000   5.300000
13505  21.700000  17.133333
12913  21.290000   7.545000
17788  24.633333   9.190000
17894  24.200000   5.160000
7665   21.516667   0.937500
10165  21.200000   0.200000
18809  23.100000  16.833333
8737   19.890000   1.900000

In [22]:
features_df = simple_linear_reg_df['T1']
target = 'T6'
target_df = simple_linear_reg_df[target]

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(features_df, target_df, test_size = 0.3,random_state=1)

In [24]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

In [21]:
linear_model.fit(x_train, y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[24.26       23.315      23.1        18.6        19.89       24.63333333
 21.29       21.2        21.51666667 20.32333333].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [25]:
df = pd.read_csv('energydata_complete.csv')

In [26]:
df = df.drop(columns=["date",'lights'])

In [27]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

x_train,x_test,y_train,y_test = train_test_split(features_df, target_df, test_size = 0.3,random_state=1)